.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.row {
    color: white;
}

[class^='col'] {
    border: 1px solid white;
    height: 50px;
    background-color: dodgerblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
    background-color: lightgreen;
    height: 30px;
}
